<!doctype html>
<html lang="en">

<body>

<section class="darkgre-sevtion-lack">
  <div class="container">
    <div class="row padding-kit-80">
      <div class="col-md-3"> <img class="img-fluid" src="../../../../assets/img/kits-inner.png" alt="student"> </div>
      <div class="col-md-5">
        <div class="kits-heading">Introduction to Design</div>
        <div class="kits-subheadinginner">36 lessons; 3 hours; 20 Ecercises</div>
        <div class="list-kitsinnr">
          <p>Fashion Foundation 1  (Rs 5000)</p>
          <p> Fashion Fundamentals  (Rs. 5000)</p>
          <p>Portfolio Design with Payal Singhal (Rs. 5000</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kits-price"><span class="offerprice">Rs. 5000</span> <span class="offerprice2">Rs. 3,500</span> <span class="space-r"><a href="#"><img src="../../../../assets/img/kitsmetro-bookmark.png"></a> </span><span><a href="#"><img src="../../../../assets/img/feather-gift.png"></a></span></div>
        <div class="bundlebt-div">
          <button type="button" class="bundelbtn">Buy Now</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="bundelbtn-outline">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="kits-inner-fashion">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="fashion-kits">Fashion Foundation I</div>
				<div class="fashion-name">Tanya Ghavri</div>
				<div class="clearfix"></div>
				<div class="video-kits"><img class="img-fluid" src="../../../../assets/img/video-kits.png"></div>
			</div>
			<div class="col-md-4">
				<div class="kits-overview">Overview</div>
				<p class="overvie-test">
					The Fashion Styling course provides students with a base of fashion knowledge and the skills required for fashion styling. Through this course, students will develop the skills to research, ideate creatively and identify, source and style concept or trend-based looks. 

				</p>
			</div>
		</div>
		
	</div>
</section>
<section class="kitsinnerbootm">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="fashion-kits">Fashion Fundamentals</div>
				<div class="fashion-name">Tanya Ghavri</div>
				<div class="clearfix"></div>
				<div class="video-kits"><img class="img-fluid" src="../../../../assets/img/video-kits.png"></div>
			</div>
			<div class="col-md-4">
				<div class="kits-overview">Overview</div>
				<p class="overvie-test">
					The Fashion Styling course provides students with a base of fashion knowledge and the skills required for fashion styling. Through this course, students will develop the skills to research, ideate creatively and identify, source and style concept or trend-based looks. 

				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="fashion-kits">Portfolio Design with</div>
				<div class="fashion-name">Payal Singh</div>
				<div class="clearfix"></div>
				<div class="video-kits"><img class="img-fluid" src="../../../../assets/img/video-kits.png"></div>
			</div>
			<div class="col-md-4">
				<div class="kits-overview">Overview</div>
				<p class="overvie-test">
					The Fashion Styling course provides students with a base of fashion knowledge and the skills required for fashion styling. Through this course, students will develop the skills to research, ideate creatively and identify, source and style concept or trend-based looks. 

				</p>
			</div>
		</div>
	</div>
</section>

</body>
</html>
