<!doctype html>
<html lang="en">

<body>

<main role="main" class="container">
  
  <div class="row">
  	<div class="col-md-12">
  		<h4 class="h4-title pt-5">Our Favourite Outfits Of 2020</h4>
  	</div>
  </div>
  <div class="row mt-80">
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-inner.jpg">
      <div class="pull-left mt-3"><span style="color: #707070;">INSPIRATION</span></div>
      <div class="pull-right mt-3"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
      <div class="clearfix"></div>
       <h3 class="pt-3">Our Favourite Outfits Of 2020</h3>
        <p class="font-20">The SL fashion team discuss.</p>
    </div>
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-2"><span style="color: #707070;">TRENDS</span></div>
      <div class="pull-right mt-2"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
       <div class="clearfix"></div>
       <h3 class="pt-3">17 Tartan Pieces To Wear This Season</h3>
        <p class="font-20">What better time of year to wear the print </p>
    </div>
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-2"><span style="color: #707070;">TRENDS</span></div>
      <div class="pull-right mt-2"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
       <div class="clearfix"></div>
       <h3 class="pt-3">17 Tartan Pieces To Wear This Season</h3>
        <p class="font-20">What better time of year to wear the print </p>
    </div>
  </div>
    <div class="row space-news122">
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-3"><span style="color: #707070;">SHOOTS</span></div>
      <div class="pull-right mt-3"><a ><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
      <div class="clearfix"></div>
       <h3 class="pt-3">Stylish Girls To Have On Your Radar: Trishna Goklani</h3>
        <p class="font-20">Inject a little drama into your party wardrobe.</p>
    </div>
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-2"><span style="color: #707070;">TRENDS</span></div>
      <div class="pull-right mt-2"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
       <div class="clearfix"></div>
       <h3 class="pt-3">17 Tartan Pieces To Wear This Season</h3>
        <p class="font-20">What better time of year to wear the print </p>
    </div>
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-3"><span style="color: #707070;">SHOOTS</span></div>
      <div class="pull-right mt-3"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
      <div class="clearfix"></div>
       <h3 class="pt-3">Stylish Girls To Have On Your Radar: Trishna Goklani</h3>
        <p class="font-20">Inject a little drama into your party wardrobe.</p>
    </div>
  </div>
  
  
  <div class="row space-news122">
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-3"><span style="color: #707070;">SHOOTS</span></div>
      <div class="pull-right mt-3"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
      <div class="clearfix"></div>
       <h3 class="pt-3">Stylish Girls To Have On Your Radar: Trishna Goklani</h3>
        <p class="font-20">Inject a little drama into your party wardrobe.</p>
    </div>
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-2"><span style="color: #707070;">TRENDS</span></div>
      <div class="pull-right mt-2"><a><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
       <div class="clearfix"></div>
       <h3 class="pt-3">17 Tartan Pieces To Wear This Season</h3>
        <p class="font-20">What better time of year to wear the print </p>
    </div>
    <div class="col-md-4"> <img class="img-fluid" src="../../../../assets/img/blog-3.png">
      <div class="pull-left mt-3"><span style="color: #707070;">SHOOTS</span></div>
      <div class="pull-right mt-3"><a ><img src="../../../../assets/img/kitsmetro-bookmark.png"></a></div>
      <div class="clearfix"></div>
       <h3 class="pt-3">Stylish Girls To Have On Your Radar: Trishna Goklani</h3>
        <p class="font-20">Inject a little drama into your party wardrobe.</p>
    </div>
  </div>
  
</main>

</body>
</html>
