<!doctype html>
<html lang="en">
<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col text-center"><img src="../../../../assets/img/Group 1205.png" alt="kit-banner"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bundel-title"> Design Bundles </div>
      </div>
      <div class="col-md-12">
        <div class="cnt-kit"> If your focus is on one specific segment of design, choose from our Design Bundles to get the most out of The Designer’s Class </div>
      </div>
      <div class="col-md-12 text-center kit-space">
        <button type="button" class="btn btn-black btn-sm m-2">Explore</button>
      </div>
    </div>
  </div>
</section>
<section class="darkgre-sevtion">
  <div class="container">
    <div class="row padding-kit-127">
      <div class="col-md-12">
        <div class="dropdown">
          <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> I am a student </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div>
        </div>
      </div>
    </div>
    <div class="row space-kit-157">
      <div class="col-6"> <img class="img-fluid" src="../../../../assets/img/Group2450.png" alt="student"> </div>
      <div class="col-6">
        <div class="kits-heading">Introduction to Design</div>
        <div class="kits-subheading">The Styling Bundle;  200 lessons; 5 hours</div>
        <div class="list-kits">
          <ul>
            <li> Fashion Foundation 1  (Rs 5000) </li>
            <li> Fashion Fundamentals  (Rs. 5000) </li>
            <li> Portfolio Design with Payal Singhal (Rs. 5000) </li>
          </ul>
        </div>
        <div class="kits-price"><span class="offerprice">Rs. 30,000</span> <span class="offerprice2">Rs. 15,000</span></div>
        <div class="bundlebt-div">
          <button type="button" class="bundelbtn">Bundle & Save</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="darkgre-sevtion-lack">
  <div class="container">
   
    <div class="row padding-kit-227">
      <div class="col-6"> <img class="img-fluid" src="../../../../assets/img/Group2450.png" alt="student"> </div>
      <div class="col-6">
        <div class="kits-heading">Introduction to Design</div>
        <div class="kits-subheading">The Styling Bundle;  200 lessons; 5 hours</div>
        <div class="list-kits">
          <ul>
            <li> Fashion Foundation 1  (Rs 5000) </li>
            <li> Fashion Fundamentals  (Rs. 5000) </li>
            <li> Portfolio Design with Payal Singhal (Rs. 5000) </li>
          </ul>
        </div>
        <div class="kits-price"><span class="offerprice">Rs. 30,000</span> <span class="offerprice2">Rs. 15,000</span></div>
       
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script> 
<script src="dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
