<!-- <footer class="footer space-news122">
    <div class="container">
      <div class="row pb-footer">
        <div class="col-md-4">
          <p><img src="../../../../assets/img/footer-logo.png"></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <h6>Explore</h6>
              <a class="nav-link" href="#">Classes</a> <a class="nav-link" href="#">Instructors</a> <a class="nav-link" href="#">News</a> <a class="nav-link" href="#">Blogs</a> <a class="nav-link" href="#">Gifting</a> </div>
            <div class="col-md-3">
              <h6>Company</h6>
              <a class="nav-link" href="#">About</a> <a class="nav-link" href="#">Contact</a> <a class="nav-link" href="#">FAQ</a> <a class="nav-link" href="#">Help & Support</a> </div>
            <div class="col-md-3">
              <h6>Social</h6>
              <a class="nav-link" href="#">About</a> <a class="nav-link" href="#">Facebook</a> <a class="nav-link" href="#">Instagram</a> <a class="nav-link" href="#">Linkedin</a> <a class="nav-link" href="#">Twitter</a> </div>
            <div class="col-md-3">
              <h6>Download</h6>
              <a class="nav-link" href="#">Facebook</a> <a class="nav-link" href="#">App Store</a> <a class="nav-link" href="#">Play Store</a> </div>
          </div>
        </div>
      </div>
      <div class="row pb-footer">
        <div class="col-md-6">
          <p class="copyright">Copyright, The Designer Class 2021</p>
        </div>
        <div class="col-md-6">
          <div class="text-right"><img src="../../../../assets/img/visa.jpg"></div>
        </div>
      </div>
    </div>
  </footer> -->

 <footer class="footer">
  <div class="container">
    <div class="row pb-footer">
      <div class="col-md-6">
        <p><img src="../../../../assets/img/footer-logo.png"></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
       <div class="social-network">
       	<a href="#"><i class="fab fa-facebook-f"></i></a>
       		<a class="pl-4" href="#"><i class="fab fa-instagram"></i></a>
       			<a class="pl-4" href="#"><i class="fab fa-linkedin-in"></i></a>
       			<a class="pl-4" href="#"><i class="fab fa-youtube"></i></a>
       </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <h6>Explore</h6>
            <a class="nav-link" href="#">Classes</a> 
            <a class="nav-link" href="#">Instructors</a> 		  
 <a class="nav-link" href="news.html">News</a>
            <a class="nav-link" href="bundles-kit.html">Bundles Kits</a>  
            <a class="nav-link" href="blog.html">Blogs</a> 
            <a class="nav-link" href="gifting.html">Gifting</a> </div>
            
          <div class="col-md-4">
            <h6>Company</h6>
            <a class="nav-link" href="about.html">About</a> 
            <a class="nav-link" href="contact.html">Contact</a> 
            <a class="nav-link" href="#">FAQ</a> 
            <a class="nav-link" href="#">Help & Support</a> 
            </div>
         
          <div class="col-md-4">
            <h6>Download</h6>
            <a class="nav-link" href="#"><img src="../../../../assets/img/appstore.png" alt="app-store"></a>
             <a class="nav-link" href="#"><img src="../../../../assets/img/google-paly.png" alt="google paly"></a> 
              </div>
        </div>
      </div>
    </div>
    <div class="row pb-footer">
      <div class="col-md-6">
        <p class="copyright">Copyright, The Designer Class 2021</p>
      </div>
      <div class="col-md-6">
        <div class="text-right"><img src="../../../../assets/img/visa.jpg"></div>
      </div>
    </div>
  </div>
</footer>