<!doctype html>
<html lang="en">
<body>

<section class="my-class"> 


</div>-->
  <div class="col-md-12" style="position: relative;"><img class="img-fluid cl-bg" src="./../../../assets/img//gifting-pl.png"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="my-cal-title">My Classes</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="my-clas-auto">
          <div class="clas-course">
            <div class="num-cl">50</div>
            <div class="class-box">Hours of
              Learning</div>
          </div>
          <div class="clas-course">
            <div class="num-cl">200</div>
            <div class="class-box">Lessons</div>
          </div>
          <div class="clas-course">
            <div class="num-cl">12</div>
            <div class="class-box">Completed 
              Courses</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="saved-course pagelayout-frontpage">
  <div class="container">
    <div class="row my-class-romm">
      <div class="col-md-12" style="height: auto !important;max-height: 1345px;">
        <div class="card card-block my-class-setion-room">
          <div class="theme-course-item">
            <div class="course-item-inner inner">
              <div class="course-thumb-holder hasimage"><img src="./../../../assets/img//my-class.png" alt="Course Image" class="course-thumb"></div>
              <div class="course-content-wrapper">
                <div class="course-content">
                  <div class="menu-pill">
                    <div class="drop-mylcl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-ellipsis-h"></i></div>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a> </div>
                  </div>
                  <h4 class="course-title">Anamika Khanna</h4>
                  <div class="course-summary"> Fashion Styling</div>
                </div>
                <div class="course-meta"></div>
                <div class="course-summary"> Date Purchased: 10.03.2020</div>
                <div class="course-summary"> Rs, 5000</div>
                <div class="postlog">
                  <div class="kits-subheadinginner">
                    <div class="w3-light-grey w3-round-xlarge">
                      <div class="w3-container w3-blue w3-round-xlarge" style="width:25%"></div>
                    </div>
                  </div>
                  <div class="course-summary mt-2"> Lesson 2 of 10</div>
                  <div class="course-summary"> 2 Assignments Complete</div>
                </div>
                <ul class="teachers list-inline">
                  <li class="coursecat"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> &nbsp; &nbsp; &nbsp;Rate Course</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-block my-class-setion-room">
          <div class="theme-course-item">
            <div class="course-item-inner inner">
              <div class="course-thumb-holder hasimage"><img src="./../../../assets/img//my-class.png" alt="Course Image" class="course-thumb"></div>
              <div class="course-content-wrapper">
                <div class="course-content">
                  <div class="menu-pill">
                    <div class="drop-mylcl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-ellipsis-h"></i></div>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a> </div>
                  </div>
                  <h4 class="course-title">Anamika Khanna</h4>
                  <div class="course-summary"> Fashion Styling</div>
                </div>
                <div class="course-meta"></div>
                <div class="course-summary"> Date Purchased: 10.03.2020</div>
                <div class="course-summary"> Rs, 5000</div>
                <div class="postlog">
                  <div class="kits-subheadinginner">
                    <div class="w3-light-grey w3-round-xlarge">
                      <div class="w3-container w3-blue w3-round-xlarge" style="width:25%"></div>
                    </div>
                  </div>
                  <div class="course-summary mt-2"> Lesson 2 of 10</div>
                  <div class="course-summary"> 2 Assignments Complete</div>
                </div>
                <ul class="teachers list-inline">
                  <li class="coursecat"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> &nbsp; &nbsp; &nbsp;Rate Course</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-block my-class-setion-room">
          <div class="theme-course-item">
            <div class="course-item-inner inner">
              <div class="course-thumb-holder hasimage"><img src="./../../../assets/img//my-class.png" alt="Course Image" class="course-thumb"></div>
              <div class="course-content-wrapper">
                <div class="course-content">
                  <div class="menu-pill">
                    <div class="drop-mylcl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-ellipsis-h"></i></div>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a> </div>
                  </div>
                  <h4 class="course-title">Anamika Khanna</h4>
                  <div class="course-summary"> Fashion Styling</div>
                </div>
                <div class="course-meta"></div>
                <div class="course-summary"> Date Purchased: 10.03.2020</div>
                <div class="course-summary"> Rs, 5000</div>
                <div class="postlog">
                  <div class="kits-subheadinginner">
                    <div class="w3-light-grey w3-round-xlarge">
                      <div class="w3-container w3-blue w3-round-xlarge" style="width:25%"></div>
                    </div>
                  </div>
                  <div class="course-summary mt-2"> Lesson 2 of 10</div>
                  <div class="course-summary"> 2 Assignments Complete</div>
                </div>
                <ul class="teachers list-inline">
                  <li class="coursecat"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> &nbsp; &nbsp; &nbsp;Rate Course</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="saved-course">
<div class="texher-img rght-2"><img src="./../../../assets/img//mycl.png"></div>
	<div class="container">
	<div class="row mycl--sect">
		<div class="col-md-12">
			<h3 class="text-center">Other Classes You May Like</h3>
		</div>
	</div>
		<div class="row spase-60">
				<div class="col-lg-3">
					<div class="main_box-saved-c main_box_2">
						<div class="popular_img_box-saved w-100">
				            <img src="./../../../assets/img//p_img_1.png" class="img-fluid">
							<h1>Anamika Khanna</h1>
							<h2>Fashion Styling</h2>
							<h3>Rs. 5000</h3>
							<button type="button" class="btn btn_new">New</button>
				        </div>
				        <div class="middle">
							<a href="course_overview.html"><button type="button" class="btn btn_view_courses">View Course</button></a>
							<button type="button" class="btn btn_add_to_cart">Add to Cart</button>
						</div>
					</div>
				</div><!-- col-lg-3-end -->
				<div class="col-lg-3">
					<div class="main_box main_box_2">
						<div class="popular_img_box-saved w-100">
				            <img src="./../../../assets/img//p_img_1.png" class="img-fluid">
							<h1>Anamika Khanna</h1>
							<h2>Fashion Styling</h2>
							<h3>Rs. 5000</h3>
							<button type="button" class="btn btn_new">New</button>
				        </div>
				        <div class="middle">
							<a href="course_overview.html"><button type="button" class="btn btn_view_courses">View Course</button></a>
							<button type="button" class="btn btn_add_to_cart">Add to Cart</button>
						</div>
					</div>
				</div><!-- col-lg-3-end -->
				<div class="col-lg-3">
					<div class="main_box main_box_2">
						<div class="popular_img_box-saved w-100">
				            <img src="./../../../assets/img//p_img_1.png" class="img-fluid">
							<h1>Anamika Khanna</h1>
							<h2>Fashion Styling</h2>
							<h3>Rs. 5000</h3>
							<button type="button" class="btn btn_new">New</button>
				        </div>
				        <div class="middle">
							<a href="course_overview.html"><button type="button" class="btn btn_view_courses">View Course</button></a>
							<button type="button" class="btn btn_add_to_cart">Add to Cart</button>
						</div>
					</div>
				</div><!-- col-lg-3-end -->
				<div class="col-lg-3">
					<div class="main_box main_box_2">
						<div class="popular_img_box-saved w-100">
				            <img src="./../../../assets/img//p_img_1.png" class="img-fluid">
							<h1>Anamika Khanna</h1>
							<h2>Fashion Styling</h2>
							<h3>Rs. 5000</h3>
							<button type="button" class="btn btn_new">New</button>
				        </div>
				        <div class="middle">
							<a href="course_overview.html"><button type="button" class="btn btn_view_courses">View Course</button></a>
							<button type="button" class="btn btn_add_to_cart">Add to Cart</button>
						</div>
					</div>
				</div><!-- col-lg-3-end -->
			</div>
	</div>
	<div class="texher-img"><img src="./../../../assets/img//texher-course.png"></div>
</section>

</body>
</html>
