<!doctype html>
<html lang="en">

<body>
<section>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item"> <a class="nav-link" href="#"> Personal Information <span class="sr-only">(current)</span> </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"> Language </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"> Notification </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"> Payment </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"> Billing </a> </li>
          </ul>
        </div>
      </nav>
      <aside role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> 
      <div class="row mt-4">
      	<div class="col-md-9 offset-3">
      	<h3 class="pt-5">Payment</h3>
      	      	</div>
      </div>
        <div class="row spase-100">
      	<div class="col-md-4 offset-3">
      	<div class="pyment-img"><img src="dist/img/payment.png"></div>
     	     	<div class="pymentcont">
     	     		<span class="py-ment">Name:&nbsp;&nbsp;&nbsp; Janvi Krishnan</span>
     	     		<span class="py-ment">Number:&nbsp;&nbsp;&nbsp; 3572 2632 2368 ****</span>
     	     		<span class="py-ment">Expiry:&nbsp;&nbsp;&nbsp; 12/ 22</span>
     	     	</div>
      	     	</div>
		
			<div class="col-md-3">
				<div class="delte-pay"><a href="#">Delete</a></div>
			</div>
			<div class="col-md-7 offset-3">
				<div class="borderline-pay"></div>
			</div>
    <div class="col-md-7 offset-3 text-right">
				<button type="button" class="btn btn-outline-dark rounded-btn mt-5">Add Another Payment Method</button>
			</div>
    
      
      </div>
		  <div class="row spase-100">
		  	 <div class="col-md-9 offset-3 kit-space">
        <a href="bundles-kit-inner.html" class="btn btn-black btn-sm m-2">Save Changes</a>
      </div>
		  </div>
         </aside>
    </div>
  </div>
</section>
</body>
</html>
