<html>
<body class="login-bg">
<section>
  <div class="login main-div">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="login-left"> Let India’s best
            teach you
            how it’s done. </div>
          <div class="login-icon"><img src="../../../../assets/img/logo-icon.png"></div>
        </div>
        <div class="col-md-6">
          <div class="text-right mt-3"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="../../../../assets/img/closebtn.png"></span>
        </button></div>
          <form class="top-space-login">
            <h4 class="login-heading">Sign Up</h4>
           
           
            
          </form>
          <div class="col-md-12 mt-2 mb-3" style="padding-left: 0;"><a><img src="../../../../assets/img/email-login.png"></a></div>
          <div class="col-md-12 mt-2 mb-3" style="padding-left: 0;"><a ><img src="../../../../assets/img/News-–-Log-In-btn-g.png"></a></div>
          <div class="col-md-12 mt-2 mb-3" style="padding-left: 0;"><a ><img src="../../../../assets/img/News-–-Log-In-f.png"></a></div>
          
          <p class="create-account">Already part of the TDC family?  <a >Log In</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
