<!doctype html>
<html lang="en">

<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12"> <h2 class="profile-name">My profile</h2></div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="profile-img"> <img class="img-fluid img-broder-radus" src="../../../../assests/img/masiser.png" alt="profile image"> </div>
      </div>
      <div class="col-md-10">
        <div class="name-uder"> Janvi Krishnans </div>
        <div class="profisaion">Fashion Student <br>
        www.behance.com/janvikrishnan
        </div>
        <div class="course--n">16 Courses <br> 20 hours of learning</div>
      </div>
     
    </div>
    <div class="row spase-100">
    	<div class="col-md-9">
    		 <div class="name-uder"> About Me </div>
    		 <p class="profile-text">
    		 	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores e
    		 </p>
    	</div>
		<div class="col-md-3"><div class="edit-profile"><a >Edit</a></div></div>
    </div>
	  <div class="row spase-100 mb-100">
	  	<div class="col-md-12"><div class="name-uder pb-3"> Following </div></div>
	  	<div class="col-md-12">
	  	<div class="pro--btn"> Manish Malhotra &nbsp;<i class="fal fa-times"></i></div>
	  	<div class="pro--btn"> Rohit Bal &nbsp;<i class="fal fa-times"></i></div>
	  	
	  	</div>
	  </div>
  </div>
</section>
</body>
</html>
