<!doctype html>
<html lang="en">

<body>

<section>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item"> <a class="nav-link" > Personal Information <span class="sr-only">(current)</span> </a> </li>
            <li class="nav-item"> <a class="nav-link" > Language </a> </li>
            <li class="nav-item"> <a class="nav-link" > Notification </a> </li>
            <li class="nav-item"> <a class="nav-link" > Payment </a> </li>
            <li class="nav-item"> <a class="nav-link" > Billing </a> </li>
          </ul>
        </div>
      </nav>
      <aside role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row mt-4">
          <div class="col-md-9 offset-3">
            <h3 class="pt-5">Notification Settings</h3>
          </div>
        </div>
        <div class="row spase-100">
          <div class="col-md-4 offset-3">
            <label class="font20">Classes</label>
          </div>
          <div class="col-md-1">
            <label class="font20">Yes</label>
          </div>
          <div class="col-md-1">
            <label class="font20">No</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-3">
            <p>New classes by artists you follow</p>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span> </label>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-3">
            <p>Recommended classes</p>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span> </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-3">
            <p>Price changes for courses in which you’re interested</p>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span> </label>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row mt-4">
          <div class="col-md-9 offset-3">
            <label class="font20 pt-3">Classes</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-3">
            <p>New bundles by artists you follow</p>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span> </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-3">
            <p>Recommended classes</p>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
          <div class="col-md-1">
            <label class="containercheck ml-1">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span> </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 offset-3 kit-space"> <a class="btn btn-black btn-sm m-2">Save Changes</a> </div>
        </div>
      </aside>
    </div>
  </div>
</section>
</body>
</html>
